body {
	width: auto;
	height: auto;
	background-color: #1C1C1C;
	background-repeat:no-repeat;
	background-size: cover;

}

p {
	background: linear-gradient(to left, #f3c5bd 0%, #ea2803 20%, #e86c57 50%, #ff6600);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

img{
	width:40px;
	height:40px;
	margin-left: 96%;
}

img:hover {
	transform: scale(1.5);
}

.In{
	color: #45ADAE;
	margin-left: 40%;
	text-align: center;
	font-size: 20px;
	width: 300px;
	height: 250px;
	border-radius: 7px;


}

.OctGUI{
	text-align: center;
	background-color: none;
	width: 200px;
	height: 250px;
	margin-left: -1%;
	border-radius: 7px;
	margin-bottom: 0;
}
.Into{
	display: block;
}

.OctGUI:hover{
	transform: scale(1.2);
}




