body {
	height: 600px;
	width: 800px;
	color: black;
	background-color: lightgrey;
	margin: auto;


}

.T1 {
	text-align: center;
	color: green;
	font-size: 22px;
	font-family: 'Arial';
	font-style: italic;
	padding-top: 200px;
}